.loadingScreen {
    width: 100%;
    position: relative;
    height: 70rem;
    background: var(--color-white-bg-secondary);
    animation: fadeIn 1s ease;
    animation-fill-mode: backwards;

    & > div {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--abs {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
    }
}