.a {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: var(--color-light-5);
    backface-visibility: hidden;
    position: relative;
    
    &__wrapper {
        padding: 3rem 4rem;
        position: relative;
        background: var(--color-white-bg);
        border-radius: .7rem;
        box-shadow: 0 0 3rem rgba(#000, .07);
        border: 2px solid rgba(#000, .12);
        transition: all .3s ease;
        z-index: 2;

        @include respond(sm) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: none;
            padding: 0;
        }
        
        &--animate {
            box-shadow: 0 3rem 5rem rgba(#000, .07);
            transform: translateY(-3rem);

            @include respond(sm) {
                box-shadow: 0 0 3rem rgba(#000, .07);
                transform: translate(0);
            }
        }
    }

    &__lang {
        padding: 1rem 1.5rem;
        border-radius: .7rem;
        background: var(--color-white-bg);
        position: absolute;
        top: 3%;
        left: 2%;
        display: flex;
        z-index: 3;
        transition: all .3s ease;
        border: 1px solid rgba(#000, .07);
        height: max-content;
        
        &:hover {
            border-radius: .7rem .7rem 0 0;

            .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        @include respond(sm) { display: none; }
    }

    &__error {
        color: var(--color-red);
        font-size: 1.5rem;
        font-weight: 300;
        width: 25rem;
        display: flex;
        align-items: center;
        
        &--success {
            color: var(--color-grey-dark);
            font-weight: 400;
            border-bottom: 1px solid var(--color-secondary-opaque);
            padding-bottom: .7rem;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        @include respond(sm) { width: 25rem; }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        position: relative;
        font-size: 1.5rem;
        color: var(--color-black);
        display: flex;
        flex-direction: column;
        
        &--start {

            &::after,
            &::before {
                content: "(";
                display: inline-block;
                font-size: 1.45rem;
                position: absolute;
                top: 50%;
                transform: translateY(-51%);
                color: var(--color-grey-7);
            }
            
            &::after {
                content: ")";
                right: 1rem;
            }

            &::before {
                left: 5.5rem;
            }
        }
        
        &--abs {
            transition: all .3s ease;
            display: block;
            font-size: 1.3rem;
            margin-top: .5rem;
            margin-bottom: 1rem;
        }

        &--timer {
            font-size: 1.3rem;
            align-items: center;
        }
    }

    &__input {
        margin-bottom: 1.5rem;
        font-size: 1.45rem;
        padding: 1.2rem 2rem;
        width: 25rem;
        color: var(--color-black);
        border: 1px solid rgba(#000, .07);

        &--res { padding: 1rem 1.5rem; }

        &--start {
            width: 10rem;
            border-radius: .7rem 0 0 .7rem;
            padding-left: 6.2rem;
            border-color: transparent rgba(#000, .07) transparent transparent;
        }
        
        &--end {
            width: 16rem;
            border-radius: 0 .7rem .7rem 0;
        }

        &:not(:placeholder-shown) {
            margin-bottom: 0 !important;
        }
    }

    &__input:placeholder-shown + &__btn--abs { transform: translateY(-100%); }
    &__input:placeholder-shown ~ &__label--abs { display: none; }

    &__item {
        width: max-content;
        margin-bottom: 1.5rem;
    }

    &__info {
        font-size: 1.35rem;
        color: var(--color-grey-dark);
        transition: transform .3s ease;
        text-align: center;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        
        &--high {
            color: var(--color-primary);
            display: inline-block;
        }

        &--heading {
            text-align: start;
            font-size: 1.5rem;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
    }

    &__btn {
        border-width: 3px;
        padding: 2rem 0;

        &--abs {
            position: absolute;
            top: 50%;
            transform: translateY(-150%);
            right: 2rem;
        }

        &:not(:last-child) { margin-bottom: .7rem; }
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--color-grey-dark);
        margin-right: .55rem;
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

    #second-face { display: none; }

    #second-face:target {
        display: flex;

        & + #first-face { display: none; }
    }

    #second-face:not(:target) + #first-face { display: flex; }
}