.nav {
    background: #fff;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(#000, .07);
    box-shadow: 0 -1.5rem 5rem rgba(#000, .07);
    z-index: 100;
    backdrop-filter: blur(1px);

    &__wrapper {
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        height: 100%;

        &--space {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &--hoverable:hover {
            .nav__icon--arrow {
                transform: rotate(180deg);
            }

            .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        &--keep .dropdown {
            opacity: 1;
            visibility: visible;
        }

        &--drop:focus {
            .nav__icon--arrow {
                transform: rotate(180deg);
            }

            & + .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        &--hide {
            display: none;
        }

        &--show {
            display: flex;
        }
    }

    &__link {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        color: var(--color-grey-dark);
    }

    &__iconbox {
        padding: .8rem;
        position: relative;
        border-radius: 50%;
        background: var(--color-grey-7);
        width: 4rem;
        height: 4rem;

        &--menu {
            border-radius: .7rem;
            background: var(--color-primary);
            border: none;
        }
    }
    
    &__icon {
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--color-grey-7);
        transition: var(--cat-item-transition);

        &:not(:last-child) {
            margin-right: .7rem;
        }

        &--white {
            fill: #fff;
            margin-right: 0;
            width: 2rem;
            height: 2rem;
        }

        &--abs {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    &__bottom {
        background: var(--color-light-5);
        width: 100%;
        border: 1px solid rgba(#000, .05);
    }

    &__bottomwrap {
        height: 5rem;
        font-size: 1.45rem;
        display: flex;
        color: var(--color-grey-7);
        justify-content: space-between;
        position: relative;
    }

    &__btn:not(:last-child) {
        margin-right: 1rem;
    }

    &__title {
        margin-right: .5rem;
        display: inline-block;
        font-weight: 600;
        font-size: 1.3rem;
        color: var(--color-grey-dark);

        &--user {
            margin-right: 1rem;
            font-size: 1.5rem;
        }

        &--white {
            color: #fff;
            font-weight: 500;
        }
    }

    &__left {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            .nav__icon--arrow {
                transform: rotate(180deg);
            }

            .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__input {
        padding: 1rem 1.7rem;
        width: 20rem;
        font-size: 1.3rem;
        border-radius: .5rem;
        border: 1px solid rgba(#000, .07);
        margin-bottom: 1.5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__info {
        margin-bottom: 1rem;
        color: var(--color-grey-a5);
        font-weight: 400;

        &--bold { font-weight: 500; }

        &--high { color: var(--color-primary); }
    }
}