.filter {
    background: var(--color-white-bg);
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    transition: all .3s ease;
    position: relative;
    z-index: 9;
    padding-top: 1rem;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 2.5rem;
        color: var(--color-black);
    }

    &__list {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 1.5rem 0;
        flex-wrap: wrap;
        
        &--headline {
            align-items: center;
            border: none;
            padding-bottom: 0;
            justify-content: space-between;
            padding-bottom: 0;
        }
        
        &--stickline { padding: 2rem 0; }
        
        &--midline {
            border-bottom: 1px solid rgba(#000, .07);
            padding-bottom: 0;
        }
    }

    &__item {
        position: relative;
        
        flex-basis: calc((100% - 5 * 1rem) / 6);
        margin-right: 1rem;
        margin-bottom: 2rem;
        
        &:nth-child(6n) { margin-right: 0; }

        &--tags {
            padding: 0;
            background: var(--color-secondary-opaque);
            border: none;
        }

        &--active { background: var(--color-primary); }
    }

    &__link {
        position: relative;
        margin-left: 1rem;
        color: var(--color-grey-dark);

        &--route {
            height: 100%;
        }
        
        &--tags {
            padding: .7rem 1.2rem;
            margin-left: 0;
            width: 100%;
            height: 100%;
            color: #fff;

            &:hover { color: #fff; }
        }
    }

    &__dropdown {
        border-top: none;
        border-color: var(--color-primary-opaque);
    }

    &__dropitem {
        padding: 1rem 2rem;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: .7rem;
        font-weight: 500;
        color: var(--color-black);
    }

    &__label {
        position: relative;
        flex-grow: 1;
        overflow: visible;
        width: 9.5rem;
    }

    &__label:first-child &__input { 
        border-radius: .7rem 0 0 .7rem;
        border-right-color: rgba(#000, .07) !important;

        &:focus { border-right-color: var(--color-primary-opaque) !important; }
    }
    &__label:last-child &__input { border-radius: 0 .7rem .7rem 0; }

    &__input {
        padding: 0 2rem;
        font-size: 1.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s ease;
        color: initial;
        font-size: 1.55rem;
        width: 100%;
        height: 4.5rem;
        border: 1px solid transparent !important;
        background: var(--color-light-7);
        color: var(--color-grey-dark);

        &--d {
            cursor: pointer;
            font-weight: 400;

            &:hover,
            &:focus { border-color: var(--color-primary-opaque) !important; }

            &:focus {
                border-radius: .7rem .7rem 0 0;
                outline: none;
            }
        }
        
        &:focus {
            background: var(--color-white-bg);
            border-color: var(--color-primary-opaque) !important;
            
            & + .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
        
        &--small {
            width: 100%;
            padding-right: 3.5rem;
        }
        
        &--border {
            border-color: rgba(#000, .07) rgba(#000, .07) rgba(#000, .07) transparent;
        }
    }
    
    &__input:focus &__icon { transform: rotate(180deg); }
    &__input:not(:placeholder-shown) + &__btn { visibility: visible; }
    
    &__group {
        display: flex;
    }

    &__btn {
        margin-right: 1.75rem;
        font-size: 1.6rem;
        padding: .7rem 1rem;
        align-items: center;
        color: var(--color-grey-7);
        border-radius: .7rem;

        &--close {
            text-transform: uppercase;
            font-size: 1.45rem;
            background: var(--color-light-7);
            border: 1px solid transparent;

            &:hover,
            &:focus { border-color: var(--color-primary-opaque); }
        }

        &--abs {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            visibility: hidden;
            margin: 0;
        }
    }

    &__icon {
        width: 1.85rem;
        height: 1.85rem;
        fill: var(--color-grey-7);
        transition: transform .3s ease;

        &--arrow {
            width: 2rem;
            height: 2rem;
        }
        
        &--small {
            margin-left: .5rem;
        }
    }

    &__topline {
        font-size: 1.5rem;
        position: sticky;
        top: 7rem;
        border-bottom: 1px solid rgba(#000, .07);
        z-index: 8;
        background: #fff;
        box-shadow: 0 .5rem 2rem rgba(#000, .04);
    }

    &__loading {
        height: 24.05rem;
    }
}