.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 105;
    animation: slideLeft .3s ease;

    &__head {
        border-bottom: 1px solid rgba(#000, .05);
        width: 100%;
        height: 7rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 1.9rem;
        color: var(--color-black);
        font-weight: 500;
    }

    &__body {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: relative;
        padding: 1.5rem 0;
    }

    &__list {
        width: 100%;
        height: 80%;
        overflow-y: auto;
    }

    &__item {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .7rem;
        border: 1px solid rgba(#000, .07);
        padding: 1.3rem 1.75rem;
        color: var(--color-black);
        box-shadow: 0 0 3px rgba(#000, .035);

        &:not(:last-child) { margin-bottom: 1rem; }

        &--active {
            background: var(--color-primary);
            color: #fff;

            .icon { fill: #fff; }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1.5rem 0;
        left: 0;
    }

    &__btn {
        padding: 1.2rem 1.75rem;
        border: 1.5px solid var(--color-primary-opaque);
        border-radius: .7rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 500;
        justify-content: center;
        width: 50%;
        
        @include respond(ss) { width: 100%; }
    }
}