.profile {
    position: relative;
    margin-top: 7rem;
    background: var(--color-white-bg-secondary);
    
    &__wrapper {
        padding: 4rem 0;
    }

    &__head {
        display: none;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1rem;
    }

    &__nav {

    }

    &__main {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    &__group {
        background: #fff;
        display: flex;
        box-shadow: 0 0 3rem rgba(#000, .04);
        border: 1px solid rgba(#000, .1);
        overflow: hidden;
        // border-radius: .7rem;
        flex-direction: column;
    }

    &__panel {
        margin-right: 3rem;
        position: sticky;
        top: 9rem;
        z-index: 1;
    }
    
    &__header {
        width: calc(100% - 25rem);
        border-top: none;
    }
    
    &__list {
        width: 25rem;
    }

    &__item {
        
        &--sub {
            border-top: 1px solid rgba(#000, .07);
            border-bottom: 1px solid rgba(#000, .07);
            background: #fdfdfd;
            box-shadow: inset -5px -2.5px 5px rgba(#000, .03);

            display: none;
        }
    }
    
    &__link {
        display: flex;
        align-items: center;
        padding: 1.2rem 2.3rem;
        font-size: 1.35rem;
        color: var(--color-grey-dark);
        position: relative;
        
        &:not(.profile__link--active):hover { color: var(--color-primary); }

        &--heading {
            font-size: 1.9rem;
            border-bottom: 1px solid rgba(#000, .07);
            text-transform: capitalize;
            font-weight: 500;
            color: initial !important;
        }
        
        &--active,
        &--active-cursored {
            color: #fff;
            background-color: var(--color-primary);
            cursor: default !important;
        }

        &--sub-active {
            color: var(--color-primary);
            cursor: default !important;
        }

        &--active-cursored {
            cursor: pointer !important;

            &:hover {
                color: #fff !important;
            }
        }
    }

    &__link:not(.profile__link--active):hover &__icon { fill: var(--color-primary-opaque); }
    &__link--active-cursored:hover &__icon { fill: #fff !important; }
    &__link--sub-active &__icon { fill: var(--color-primary-opaque); }
    &__link--active &__icon,
    &__link--active-cursored &__icon { fill: #fff; }
    &__link--active &__link,
    &__link--active-cursored &__link { color: #fff; }
    &__link:hover &__mes-badge {
        background: var(--color-grey-7);
        color: #fff;
    }

    &__mes-badge {
        font-size: 1.1rem;
        width: 3rem;
        height: 2rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        font-size: 1.5rem;
        
        &--control {
            padding: 1rem;
            justify-content: flex-start;
            font-size: 1.3rem;
            color: initial;
            border-bottom: 1px solid rgba(#000, .1);

            &:not(.profile__btn--red):hover,
            &:not(.profile__btn--red):focus {
                color: var(--color-primary);
                border-color: var(--color-primary-opaque);
            }
        }
        
        &--red:hover,
        &--red:focus {
            color: var(--color-red);
            border-color: var(--color-red-opaque);
        }

        &--toggler {
            padding: 0 .5rem;
            border-left: 1px solid rgba(#000, .1);
            
            &:hover { background: var(--color-primary); }
        }

        &--rounded {
            border-radius: 50%;
            width: 3.3rem;
            height: 3.3rem;
            border: 1px solid rgba(#000, .15);

            &:hover { border-color: var(--color-primary-opaque); }
        }

        &--activate {
            color: var(--color-primary);

            &:hover { border-color: var(--color-primary-opaque); }
        }

        &--deact {
            color: var(--color-red);

            &:hover { border-color: var(--color-red-opaque); }
        }
        
        &--img {
            position: absolute;
            top: 72%;
            right: .5rem;
            z-index: 1;
            display: flex;
        }

        &--abs {
            position: absolute;
            top: 50%;
            right: 2rem;
            z-index: 1;
            transform: translateY(-50%);
            background: none;
        }
    }

    &__btn--control:not(.profile__btn--red):hover &__icon,
    &__btn--control:not(.profile__btn--red):focus &__icon { fill: var(--color-primary-opaque); }
    &__btn--red:hover &__icon,
    &__btn--red:focus &__icon { fill: var(--color-red-opaque); }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark);
        margin-right: 1.5rem;

        &--small {
            margin: 0;
            width: 1.6rem;
            height: 1.6rem;
        }

        &--big {
            margin: 0;
            width: 4.5rem;
            height: 4.5rem;
            fill: var(--color-primary-opaque);
        }

        &--det { fill: var(--color-grey-7); }
    }

    &__titlebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: max-content;
        padding: 2rem 3.5rem;
        border-bottom: 1px solid rgba(#000, .07);
        border-top: 1px solid rgba(#000, .07);
    }

    &__heading {
        font-size: 1.9rem;
        font-weight: 500;
    }

    &__content {
        padding: 3rem 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &--mid { border-top: 1px solid rgba(#000, .07); }
    }

    &__figure {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        border: 4px solid var(--color-primary-opaque);
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__text {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;

        &--name {
            font-size: 3rem;
            color: initial;
        }

        &--error { color: var(--color-red); }

        &:not(:last-child) { margin-bottom: 2.3rem; } 
    }

    &__input {
        padding: 1.3rem 2rem;
        border: 1px solid rgba(#000, .07);
        font-size: 1.5rem;
        width: 32rem;
        transition: all .3s ease;

        &:invalid { border-color: var(--color-red-opaque); }

        &:focus + .dropdown {
            opacity: 1;
            visibility: visible;
        }

        &--reg {
            cursor: text;
            
            &:focus {
                border-radius: .7rem .7rem 0 0; 
                width: 40rem;
                // border-bottom-color: transparent;
            }
        }
    }
    
    &__title {
        color: var(--color-grey-7);
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__hint {
        font-size: 1.1rem;
        color: var(--color-grey-7);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid rgba(#000, .07);
        background-color: var(--color-light-7);
        padding: 2rem 4rem;
    }

    &__extra {
        align-self: flex-end;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
    }
    
    &__sort {
        background: #fcfcfc;
        display: flex;
        align-items: center;
        padding: 1rem 1.3rem;
        border: 1px solid rgba(#000, .07);
        border-radius: .7rem;
        color: var(--color-grey-dark);
    }

    &__ads {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    &__ad {
        max-width: 100%;
        height: 18rem;
        padding: 2rem;
        transition: all .2s ease;
        display: flex;

        &:not(:last-child) { border-bottom: 1px solid rgba(#000, .045); }
    }
    
    &__ad-figure {
        width: 19rem;
        overflow: hidden;
        height: 100%;
        margin-right: 2rem;
        position: relative;
        border-radius: .7rem;
    }

    &__ad-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 17rem - 2rem);
    }
    
    &__ad-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__ad-main {
        display: flex;
        flex-direction: column;
    }

    &__ad-title {
        font-size: 2.3rem;

        &--price-tag {
            font-size: 1.65rem;
            width: max-content;
            color: var(--color-black);
        }
    }

    &__ad-group {
        display: flex;
        align-items: center;

        &--details {
            background: var(--color-white-bg-secondary);
            padding: .5rem 2rem;
            border-radius: 2rem;
            width: max-content;
        }
    }

    &__ad-details {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        color: var(--color-grey-dark);

        &:not(:last-child) { margin-right: 1rem; }
    }

    &__ad-separator {
        margin-right: 1rem;
        font-size: 1.45rem;
        font-weight: 300;
        color: var(--color-grey-7);
    }

    &__ad-badge { box-shadow: none; }

    &__fav-tag {
        font-size: 1.15rem;
        padding: .5rem 1rem;

        &:not(:last-child) { margin-right: .7rem; }
    }

    &__pass-placeholder { font-size: 1.4rem; }

    &__reg-dropdown {
        width: 40rem;
        padding: 1.2rem 3rem;
        z-index: 2;
    }

    &__main-text { color: initial; }
}