.promote {
    background: var(--color-white-bg-secondary);
    width: 100%;

    &__wrapper {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 15rem;        
    }

    &__head {
        margin-bottom: 7rem;
    }

    &__body {
        display: flex;
        width: 100%;
        // background: #fff;
        border-radius: 1rem;
        // border: 1px solid rgba(#000, .1);
        margin-bottom: 7rem;
        justify-content: center;
        flex-wrap: wrap;

        @include respond(sm) {
            flex-direction: column; 
            align-items: center;
            margin-bottom: 5rem;
        }
    }

    &__text {
        color: var(--color-grey-dark);
        font-size: 1.4rem;
    }

    &__icon {
        width: 6.5rem;
        height: 6.5rem;

        &--sm {
            width: 2rem;
            height: 2rem;
            margin-right: 1.5rem;
        }

        &--mid {
            width: 3rem;
            height: 3rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;

        @include respond(sm) { justify-content: center; }
    }

    &__feature {
        display: flex;
        align-items: center;
        font-size: 1.45rem;

        &:not(:last-child) { margin-bottom: 2.5rem; }
    }

    &__card {
        width: calc((100% - 2 * 11rem) / 3);
        background: #fff;
        border-radius: 1rem;
        padding: 4rem 3rem;
        padding-top: 2.5rem;
        box-shadow: 0 0 2rem rgba(#000, .05);
        transition: all .2s ease;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &:not(:last-child) { margin-right: 11rem; }
        
        &:focus,
        &:hover {
            box-shadow: 0 0 5rem rgba(#000, .065);
            border-color: var(--color-primary-opaque);
            transform: scale(1.03);
        }
        
        &--prem {
            transform: scale(1.125);

            &:focus,
            &:hover {
                transform: scale(1.15);
                border-color: var(--color-secondary-opaque);
            }

            @include respond(mid) {
                transform: scale(1);
            }
        }

        @include respond(lg) {
            width: calc((100% - 2 * 6rem) / 3);

            &:not(:last-child) { margin-right: 6rem; }
        }
        
        @include respond(mid) {
            padding: 3rem 2.5rem;
            width: calc(100% / 3);

            &:first-child { border-radius: 1rem 0 0 1rem; }

            &:nth-child(2) {
                border-radius: 0;
                box-shadow: none;
            }

            &:last-child { border-radius: 0 1rem 1rem 0; }
    
            &:not(:last-child) {
                margin: 0;
                border-right: 1px solid rgba(#000, .07);
            }
        }

        @include respond(sm) {
            width: 32rem;
            border-radius: 1rem !important;

            &:nth-child(2) {
                border-radius: 0;
                box-shadow: 0 0 2rem rgba(#000, .05);
            }

            &:not(:last-child) { margin-bottom: 2rem; }
        }

        @include respond(ss) { width: 100%; }
    }

    &__card-head {
        padding-bottom: 1.2rem;
        border-bottom: 1px solid rgba(#000, .07);
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.4rem;
        color: var(--color-grey-dark);
        margin-bottom: 4rem;
    }

    &__logo {
        width: 10rem;
        height: auto;
        transform: translate(-.5rem, 1rem);

        @include respond(mid) { width: 8rem; }
        @include respond(sm) { width: 10rem; }
    }

    &__card-title {
        transform: translate(-.75rem, -1.35rem);
        display: inline-block;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--color-grey-7);
        text-rendering: geometricPrecision;

        @include respond(mid) { 
            transform: translate(-.75rem, -.8rem); 
            font-size: 1.45rem;
        }
        @include respond(sm) { 
            transform: translate(-.75rem, -1.35rem); 
            font-size: 1.6rem;
        }
    }

    &__card-btn {
        width: 100%;
        font-size: 1.75rem;
        padding: 1.8rem;
        font-weight: 300;
        align-self: center;

        @include respond(sm) { max-width: 25rem; }
    }
}